.zcharts-line {
    position: relative;

    width: 540px;
    height: 220px;
    margin: 40px auto;
}
.zcharts-line-legend {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 100px;
}
.zcharts-line-legend p {
    line-height: 16px;

    position: relative;

    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    padding-left: 12px;

    color: #999;
}
.zcharts-line-legend p i {
    position: absolute;
    top: 4px;
    left: 0;

    width: 6px;
    height: 6px;

    content: '';

    border-radius: 50%;
}
.zcharts-line-legend .cur {
    color: #333;
}
